@model List<OnlineStore.Models.ViewModels.CategoryViewModel>

@foreach (var category in Model)
    {
        <li>
            <a href='/Store/IndexAsync/?categoryID=@category.CategoryID' title='@category.CategoryName'>@category.CategoryName</a>
        </li>
    }


