@model List<OnlineStore.Models.ViewModels.CartItemViewModel>


<div class="modal-content">
    <div class="modal-header">
        <h4>Shopping cart</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <ol>
                @foreach (var goods in Model)
                {

                    <li>
                        <div class="wrap">
                            <h5>@Html.DisplayFor(item => goods.ProductName) </h5>
                            @Html.EditorFor(item => goods.Quantity)
                        </div>
                    </li>
                }
             </ol>
        </dl>

        <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
        
        @using (Html.BeginForm("ClearShoppingCart", "Cart"))
        {
            <input type="submit" value="Buy" class="btn btn-primary"/>
        }        
    </div>
    
</div>